<div class="container">
<div class="starter-template">
	<div>
			<h1>
				<%= @wiki.title %> <br>
				<h3 style="margin-top: -10px">
				<small>
					submitted <%= time_ago_in_words(@wiki.created_at) %> ago by <%= @wiki.creator %>
				</small>
			</h3>
			</h1>
			<br>
			<br>
			<p>
				<%= markdown(@wiki.body) %> <br>
			</p>
	</div>

	<div class="row">
		    <div class="col-md-8">
		    </div>
		  
			<div class = "col-md-4">
			<%= link_to "Edit", edit_wiki_path(@wiki.id, @wiki), class: 'btn btn-success' %>

		     <%= link_to "Delete wiki", @wiki, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this wiki?' } %>
			</div>
	</div>
</div>
</div>